### 행정구역 정보 분석 및 시각화
1. pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기
2. Data Selection : loc[] / iloc[] 를 사용해서 특정 Row와 Column 선택하기
3. 컬럼명 변경하기
4. DataFrame 객체를 Excel file로 저장하기
5. Data Grouping : groupby() 함수를 사용해서 그룹핑하기
6. 상관관계 분석 : corr() 함수를 사용해서 인구수와 면적간의 상관관계 
7. 시각화 : seaborn의 barplot() 함수를 사용해서 Plot 그리기

In [1]:
import pandas as pd
print(pd.__version__)

2.3.3

##### pandas의 read_csv() 함수로 csv file을 읽어서 DataFrame 객체로 생성하고 데이터 확인하기

In [4]:
data = pd.read_csv('data/data_draw_korea.csv')
print(data.shape)
print(type(data))

(229, 8)
<class 'pandas.core.frame.DataFrame'>

In [7]:
# head() 함수: 앞쪽의 데이터 5개 불러오기
data.head()

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시
3           3   63986        삼척  11  8  1185.80  강원도  삼척시
4           4   76733        속초   9  1   105.25  강원도  속초시

In [8]:
# tail() 함수: 뒤쪽의 데이터 5개 불러오기
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [ ]:
# sample() 함수
data.sample()

    Unnamed: 0     인구수 shortName  x  y      면적 광역시도 행정구역
35          35  191266        양주  8  2  310.31  경기도  양주시

In [10]:
# 컬럼명 확인하기
print(f'컬럼명 = {data.columns}')

# 인덱스 확인하기
print(f'인덱스 = {data.index}')

컬럼명 = Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
인덱스 = RangeIndex(start=0, stop=229, step=1)

In [12]:
# values 속성으로 값과 타입을 확인하기
print(type(data.values))
data.values

<class 'numpy.ndarray'>

array([[0, 202520, '강릉', ..., 1040.07, '강원도', '강릉시'],
       [1, 25589, '고성(강원)', ..., 664.19, '강원도', '고성군'],
       [2, 86747, '동해', ..., 180.01, '강원도', '동해시'],
       ...,
       [226, 62809, '진천', ..., 406.08, '충청북도', '진천군'],
       [227, 790216, '청주', ..., 932.51, '충청북도', '청주시'],
       [228, 198077, '충주', ..., 983.7, '충청북도', '충주시']],
      shape=(229, 8), dtype=object)

In [13]:
# info() 함수
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [19]:
# 모든 컬럼의 타입 확인
data.dtypes

Unnamed: 0      int64
인구수             int64
shortName      object
x               int64
y               int64
면적            float64
광역시도           object
행정구역           object
dtype: object

In [18]:
# 면적 컬럼의 타입을 확인
print(type(data['면적']))
data['면적'].dtype

<class 'pandas.core.series.Series'>

dtype('float64')

In [21]:
# 특정컬럼(인구수)의 타입 확인
print(type(data['인구수']))
data['인구수'].dtype

<class 'pandas.core.series.Series'>

dtype('int64')

In [22]:
# describe() 함수, 숫자 타입인 컬럼의 통계함수 출력
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [24]:
# numpy np.number 속성을 사용해서 describe()
import numpy as np
data.describe(include=np.number)

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [25]:
# describe() 함수, 문자열(object) 타입인 컬럼의 통계함수 출력
data.describe(include=[object])

       shortName 광역시도 행정구역
count        229  229  229
unique       229   17  206
top           강릉  경기도   동구
freq           1   31    6

In [28]:
# data['행정구역'] == '동구' 
data['행정구역'] == '동구'

0      False
1      False
2      False
3      False
4      False
       ...
224    False
225    False
226    False
227    False
228    False
Name: 행정구역, Length: 229, dtype: bool

In [29]:
# 해당 조건식과 매칭되는 Row data 선택하기
data.loc[data['행정구역'] == '동구']

     Unnamed: 0     인구수 shortName   x   y      면적   광역시도 행정구역
92           92   97571      광주동구   3  20   48.86  광주광역시   동구
98           98  330830      대구동구  11  13  182.35  대구광역시   동구
104         104  236524      대전동구   5  13  136.80  대전광역시   동구
112         112   85952      부산동구  10  17    9.77  부산광역시   동구
151         151  164738      울산동구  12  14   35.77  울산광역시   동구
159         159   68950      인천동구   1   5    7.05  인천광역시   동구

In [34]:
# '광역시도' == '경기도'
data.loc[data['광역시도'] == '경기도'].reset_index()

    index  Unnamed: 0      인구수 shortName  x  y       면적 광역시도  행정구역
0      18          18    53497        가평  9  3  843.040  경기도   가평군
1      19          19   955384        고양  4  2  267.330  경기도   고양시
2      20          20    63227        과천  7  7   35.813  경기도   과천시
3      21          21   327111        광명  3  3   38.500  경기도   광명시
4      22          22   290210        광주  8  7  431.840  경기도   광주시
5      23          23   175676        구리  9  4   33.300  경기도   구리시
6      24          24   273302        군포  5  8   36.350  경기도   군포시
7      25          25   326523        김포  2  3  276.640  경기도   김포시
8      26          26   610300       남양주  8  3  458.440  경기도  남양주시
9      27          27    90398       동두천  7  2   95.680  경기도  동두천시
10     28          28   805473        부천  2  4   53.440  경기도   부천시
11     29          29   911628        성남  7  8  141.820  경기도   성남시
12     30          30  1125461        수원  6  9  121.090  경기도   수원시
13     31          31   381412        시흥  3  5  134.400  경기도   시흥시
14     32          32   668089        안산  3  6  144.780  경기도   안산시
15     33          33   173061        안성  4  8  554.200  경기도   안성시
16     34          34   566558        안양  3  4   58.520  경기도   안양시
17     35          35   191266        양주  8  2  310.310  경기도   양주시
18     36          36    95614        양평  9  6  877.080  경기도   양평군
19     37          37   100669        여주  9  7  608.640  경기도   여주시
20     38          38    41076        연천  7  1  695.230  경기도   연천군
21     39          39   200793        오산  3  8   42.740  경기도   오산시
22     40          40   915005        용인  7  9  591.500  경기도   용인시
23     41          41   149080        의왕  6  8   54.000  경기도   의왕시
24     42          42   408220       의정부  7  3   81.590  경기도  의정부시
25     43          43   190537        이천  8  8  461.020  경기도   이천시
26     44          44   385528        파주  3  2  672.560  경기도   파주시
27     45          45   423763        평택  5  9  452.310  경기도   평택시
28     46          46   140159        포천  8  1  826.380  경기도   포천시
29     47          47   150061        하남  9  5   93.100  경기도   하남시
30     48          48   555129        화성  3  7  688.100  경기도   화성시

In [33]:
# '광역시도' == '경기도'
data.loc[data['광역시도'] == '경기도'].reset_index(drop=True)

    Unnamed: 0      인구수 shortName  x  y       면적 광역시도  행정구역
0           18    53497        가평  9  3  843.040  경기도   가평군
1           19   955384        고양  4  2  267.330  경기도   고양시
2           20    63227        과천  7  7   35.813  경기도   과천시
3           21   327111        광명  3  3   38.500  경기도   광명시
4           22   290210        광주  8  7  431.840  경기도   광주시
5           23   175676        구리  9  4   33.300  경기도   구리시
6           24   273302        군포  5  8   36.350  경기도   군포시
7           25   326523        김포  2  3  276.640  경기도   김포시
8           26   610300       남양주  8  3  458.440  경기도  남양주시
9           27    90398       동두천  7  2   95.680  경기도  동두천시
10          28   805473        부천  2  4   53.440  경기도   부천시
11          29   911628        성남  7  8  141.820  경기도   성남시
12          30  1125461        수원  6  9  121.090  경기도   수원시
13          31   381412        시흥  3  5  134.400  경기도   시흥시
14          32   668089        안산  3  6  144.780  경기도   안산시
15          33   173061        안성  4  8  554.200  경기도   안성시
16          34   566558        안양  3  4   58.520  경기도   안양시
17          35   191266        양주  8  2  310.310  경기도   양주시
18          36    95614        양평  9  6  877.080  경기도   양평군
19          37   100669        여주  9  7  608.640  경기도   여주시
20          38    41076        연천  7  1  695.230  경기도   연천군
21          39   200793        오산  3  8   42.740  경기도   오산시
22          40   915005        용인  7  9  591.500  경기도   용인시
23          41   149080        의왕  6  8   54.000  경기도   의왕시
24          42   408220       의정부  7  3   81.590  경기도  의정부시
25          43   190537        이천  8  8  461.020  경기도   이천시
26          44   385528        파주  3  2  672.560  경기도   파주시
27          45   423763        평택  5  9  452.310  경기도   평택시
28          46   140159        포천  8  1  826.380  경기도   포천시
29          47   150061        하남  9  5   93.100  경기도   하남시
30          48   555129        화성  3  7  688.100  경기도   화성시

In [35]:
# describe() 함수, 모든 컬럼의 통계함수 출력
data.describe(include='all')

,Unnamed: 0,인구수,shortName,x,y,면적,광역시도,행정구역
count,229.000000,2.290000e+02,229,229.000000,229.000000,229.000000,229,229
unique,NaN,NaN,229,NaN,NaN,NaN,17,206
top,NaN,NaN,강릉,NaN,NaN,NaN,경기도,동구
freq,NaN,NaN,1,NaN,NaN,NaN,31,6
mean,114.000000,2.110898e+05,NaN,6.117904,11.262009,435.419795,NaN,NaN
std,66.250786,2.074378e+05,NaN,3.320469,6.040898,381.612549,NaN,NaN
min,0.000000,8.392000e+03,NaN,0.000000,0.000000,2.800000,NaN,NaN
25%,57.000000,4.955900e+04,NaN,3.000000,6.000000,54.000000,NaN,NaN
50%,114.000000,1.401590e+05,NaN,6.000000,11.000000,436.400000,NaN,NaN
75%,171.000000,3.216180e+05,NaN,9.000000,16.000000,692.800000,NaN,NaN
max,228.000000,1.125461e+06,NaN,13.000000,25.000000,1817.940000,NaN,NaN

### Data Selection
* loc[] 또는 iloc[]
* loc[Row 선택, Column 선택]

In [39]:
# 인구수 1개의 컬럼 선택
# 좀 더 많이 사용하는 방식
data['인구수']

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [38]:
# 인구수 1개의 컬럼 선택
data.loc[:,'인구수']

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [43]:
# ['행정구역','인구수','면적'] 컬럼의 데이터 출력
data[['행정구역','인구수','면적']]
# data.loc[:,['행정구역','인구수','면적']]

    행정구역     인구수       면적
0    강릉시  202520  1040.07
1    고성군   25589   664.19
2    동해시   86747   180.01
3    삼척시   63986  1185.80
4    속초시   76733   105.25
..   ...     ...      ...
224  제천시  127462   882.47
225  증평군   34480    81.84
226  진천군   62809   406.08
227  청주시  790216   932.51
228  충주시  198077   983.70

[229 rows x 3 columns]

In [44]:
# 인구수 컬럼의 집계함수
# round: 반올림
print(f"인구수 최대값 {data['인구수'].max():,}")
print(f"인구수 최소값 {data['인구수'].min():,}")
print(f"인구수 평균 {round(data['인구수'].mean()):,}")
print(f"인구수 표준편차 {round(data['인구수'].std()):,}")
print(f"인구수 중간값 {data['인구수'].median():,}")
data['인구수'].quantile([0.25, 0.75])

인구수 최대값 1,125,461
인구수 최소값 8,392
인구수 평균 211,090
인구수 표준편차 207,438
인구수 중간값 140,159.0

0.25     49559.0
0.75    321618.0
Name: 인구수, dtype: float64

In [45]:
# 인구수가 가장 많은 행정구역?
# 인구수의 최대값을 max_popu 변수에 저장
max_popu = data['인구수'].max()
print(max_popu)

#data['인구수'] == max_popu
data.loc[data['인구수'] == max_popu]

1125461

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [47]:
# 면적이 넓은 행정구역?
data.loc[data['면적'] == data['면적'].max()]

    Unnamed: 0    인구수 shortName   x  y       면적 광역시도 행정구역
15          15  62957        홍천  10  4  1817.94  강원도  홍천군

In [48]:
# 인구수가 가장 적은 행정구역?
data.loc[data['인구수'] == data['인구수'].min()]

    Unnamed: 0   인구수 shortName   x  y     면적  광역시도 행정구역
83          83  8392        울릉  13  6  72.82  경상북도  울릉군

In [49]:
# unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [50]:
# 광역시도별 Row Counting
data['광역시도'].value_counts()

광역시도
경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
대전광역시       5
광주광역시       5
울산광역시       5
제주특별자치도     2
세종특별자치시     1
Name: count, dtype: int64

In [ ]:
# data['광역시도'] == '경기도'의 ['행정구역','인구수','면적'] 컬럼의 데이터 출력하기
# 인구수가 많은 순서대로 정렬
# 인덱스 재설정
data.loc[data['광역시도'] == '경기도', ['행정구역','인구수','면적']].sort_values(by='인구수', ascending=False).reset_index(drop=True)

    행정구역      인구수       면적
0    수원시  1125461  121.090
1    고양시   955384  267.330
2    용인시   915005  591.500
3    성남시   911628  141.820
4    부천시   805473   53.440
5    안산시   668089  144.780
6   남양주시   610300  458.440
7    안양시   566558   58.520
8    화성시   555129  688.100
9    평택시   423763  452.310
10  의정부시   408220   81.590
11   파주시   385528  672.560
12   시흥시   381412  134.400
13   광명시   327111   38.500
14   김포시   326523  276.640
15   광주시   290210  431.840
16   군포시   273302   36.350
17   오산시   200793   42.740
18   양주시   191266  310.310
19   이천시   190537  461.020
20   구리시   175676   33.300
21   안성시   173061  554.200
22   하남시   150061   93.100
23   의왕시   149080   54.000
24   포천시   140159  826.380
25   여주시   100669  608.640
26   양평군    95614  877.080
27  동두천시    90398   95.680
28   과천시    63227   35.813
29   가평군    53497  843.040
30   연천군    41076  695.230

In [62]:
#경기도에 속한 행정구역명, 인구수, 면적 선택하기 인구수를 descending 순서대로 출력하고 index reset 하여 gy_df 라는 변수에 저장하기
#data.loc[row , col]
gy_df = data.loc[data['광역시도'] == '경기도', ['행정구역','인구수','면적']].sort_values(by='인구수', ascending=False).reset_index(drop=True)
gy_df

    행정구역      인구수       면적
0    수원시  1125461  121.090
1    고양시   955384  267.330
2    용인시   915005  591.500
3    성남시   911628  141.820
4    부천시   805473   53.440
5    안산시   668089  144.780
6   남양주시   610300  458.440
7    안양시   566558   58.520
8    화성시   555129  688.100
9    평택시   423763  452.310
10  의정부시   408220   81.590
11   파주시   385528  672.560
12   시흥시   381412  134.400
13   광명시   327111   38.500
14   김포시   326523  276.640
15   광주시   290210  431.840
16   군포시   273302   36.350
17   오산시   200793   42.740
18   양주시   191266  310.310
19   이천시   190537  461.020
20   구리시   175676   33.300
21   안성시   173061  554.200
22   하남시   150061   93.100
23   의왕시   149080   54.000
24   포천시   140159  826.380
25   여주시   100669  608.640
26   양평군    95614  877.080
27  동두천시    90398   95.680
28   과천시    63227   35.813
29   가평군    53497  843.040
30   연천군    41076  695.230

In [64]:
# 인구수2 라는 새로운 컬럼을 생성
gy_df['인구수2'] = gy_df['인구수'].map(lambda val:f'{val:,}')

In [66]:
gy_df[['인구수','인구수2']].head()

       인구수       인구수2
0  1125461  1,125,461
1   955384    955,384
2   915005    915,005
3   911628    911,628
4   805473    805,473

In [71]:
# 면적2 라는 새로운 컬럼을 생성
gy_df['면적2'] = gy_df['면적'].map(lambda val:f'{val:.2f}')
gy_df[['면적','면적2']]

         면적     면적2
0   121.090  121.09
1   267.330  267.33
2   591.500  591.50
3   141.820  141.82
4    53.440   53.44
5   144.780  144.78
6   458.440  458.44
7    58.520   58.52
8   688.100  688.10
9   452.310  452.31
10   81.590   81.59
11  672.560  672.56
12  134.400  134.40
13   38.500   38.50
14  276.640  276.64
15  431.840  431.84
16   36.350   36.35
17   42.740   42.74
18  310.310  310.31
19  461.020  461.02
20   33.300   33.30
21  554.200  554.20
22   93.100   93.10
23   54.000   54.00
24  826.380  826.38
25  608.640  608.64
26  877.080  877.08
27   95.680   95.68
28   35.813   35.81
29  843.040  843.04
30  695.230  695.23

In [77]:
# 면적이 > 1000 큰 조건과 매핑되는 새로운 DataFrame 생성 area_1000 라는 변수에 저장하기
# 컬럼명은 ['행정구역','인구수','면적']
# .copy(): 복사본 만들기
area_1000 = data.loc[data['면적'] > 1000].copy()
area_1000.head()

    Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0            0  202520        강릉  11  4  1040.07  강원도  강릉시
3            3   63986        삼척  11  8  1185.80  강원도  삼척시
7            7   34966        영월  10  8  1127.36  강원도  영월군
9            9   29260        인제   9  2  1646.08  강원도  인제군
10          10   34242        정선  11  6  1220.67  강원도  정선군

In [78]:
# area_1000 DataFrame 객체에 면적2 컬럼을 생성 (3자리 단위로, 콤마가 표시된 값으로)
# 전체 Row에 적용됨
area_1000.loc[:, '면적2'] = area_1000['면적'].map('{:,}'.format)
area_1000[['면적','면적2']]

         면적       면적2
0   1040.07  1,040.07
3   1185.80   1,185.8
7   1127.36  1,127.36
9   1646.08  1,646.08
10  1220.67  1,220.67
12  1116.35  1,116.35
14  1463.65  1,463.65
15  1817.94  1,817.94
68  1323.85  1,323.85
72  1009.56  1,009.56
74  1201.00   1,201.0
75  1254.82  1,254.82
77  1519.00   1,519.0
85  1175.89  1,175.89
89  1127.00   1,127.0

In [ ]:
# 장점: 조건식을 줄 수가 있음
area_1000.loc[:,['면적','면적2']].sort_values(by='면적',ascending=False)

         면적       면적2
15  1817.94  1,817.94
9   1646.08  1,646.08
77  1519.00   1,519.0
14  1463.65  1,463.65
68  1323.85  1,323.85
75  1254.82  1,254.82
10  1220.67  1,220.67
74  1201.00   1,201.0
3   1185.80   1,185.8
85  1175.89  1,175.89
7   1127.36  1,127.36
89  1127.00   1,127.0
12  1116.35  1,116.35
0   1040.07  1,040.07
72  1009.56  1,009.56

In [83]:
# 면적 컬럼의 값이 1500인 Row에만 면적3 이라는 새로운 컬럼의 값이 채워짐
# 조건에 해당하지 않는 Row에는 NaN 값으로 채워짐
area_1000.loc[area_1000['면적'] >= 1500,'면적3'] = area_1000['면적'].map('{:,}'.format)

In [81]:
area_1000.loc[:,['면적','면적2','면적3']].sort_values(by='면적',ascending=False)

         면적       면적2       면적3
15  1817.94  1,817.94  1,817.94
9   1646.08  1,646.08  1,646.08
77  1519.00   1,519.0   1,519.0
14  1463.65  1,463.65       NaN
68  1323.85  1,323.85       NaN
75  1254.82  1,254.82       NaN
10  1220.67  1,220.67       NaN
74  1201.00   1,201.0       NaN
3   1185.80   1,185.8       NaN
85  1175.89  1,175.89       NaN
7   1127.36  1,127.36       NaN
89  1127.00   1,127.0       NaN
12  1116.35  1,116.35       NaN
0   1040.07  1,040.07       NaN
72  1009.56  1,009.56       NaN

In [84]:
#경기도 인구수의 평균과 표준편차
print(f"경기도 인구수 평균 = {gy_df['인구수'].mean()}")
print(f"경기도 인구수 편차 = {gy_df['인구수'].std()}")

경기도 인구수 평균 = 378845.48387096776
경기도 인구수 편차 = 304548.39514203876

In [92]:
#광역시도명을 인자로 받아서 해당 광역시에 속한 행정구역들의 인구수의 평균과 편차 구하기
def pop_mean_std(df, sido_name):
    print(f'==> {sido_name} 인구수의 평균과 편차 <==')
    sido_df = df.loc[df['광역시도'] == sido_name, '인구수':'행정구역'].copy()
    print(f"{sido_name} 인구수 평균 = {sido_df['인구수'].mean()}")
    print(f"{sido_name} 인구수 편차 = {sido_df['인구수'].std()}")

In [93]:
pop_mean_std(data, '서울특별시')

==> 서울특별시 인구수의 평균과 편차 <==
서울특별시 인구수 평균 = 375792.28
서울특별시 인구수 편차 = 125231.24797500289

In [94]:
# Unique한 광역시도명 순회하면서  광역시도명을 출력합니다. 
for sido_name in data['광역시도'].unique():
    pop_mean_std(data, sido_name)

==> 강원도 인구수의 평균과 편차 <==
강원도 인구수 평균 = 79413.22222222222
강원도 인구수 편차 = 87316.38323837094
==> 경기도 인구수의 평균과 편차 <==
경기도 인구수 평균 = 378845.48387096776
경기도 인구수 편차 = 304548.39514203876
==> 경상남도 인구수의 평균과 편차 <==
경상남도 인구수 평균 = 174693.72222222222
경상남도 인구수 편차 = 245796.4650767224
==> 경상북도 인구수의 평균과 편차 <==
경상북도 인구수 평균 = 109085.39130434782
경상북도 인구수 편차 = 124954.74088490057
==> 광주광역시 인구수의 평균과 편차 <==
광주광역시 인구수 평균 = 287641.8
광주광역시 인구수 편차 = 137076.68320578814
==> 대구광역시 인구수의 평균과 편차 <==
대구광역시 인구수 평균 = 297306.25
대구광역시 인구수 편차 = 174375.39437968715
==> 대전광역시 인구수의 평균과 편차 <==
대전광역시 인구수 평균 = 293535.4
대전광역시 인구수 편차 = 111853.57188217103
==> 부산광역시 인구수의 평균과 편차 <==
부산광역시 인구수 평균 = 207724.4375
부산광역시 인구수 편차 = 106246.04138380481
==> 서울특별시 인구수의 평균과 편차 <==
서울특별시 인구수 평균 = 375792.28
서울특별시 인구수 편차 = 125231.24797500289
==> 세종특별자치시 인구수의 평균과 편차 <==
세종특별자치시 인구수 평균 = 191233.0
세종특별자치시 인구수 편차 = nan
==> 울산광역시 인구수의 평균과 편차 <==
울산광역시 인구수 평균 = 221117.0
울산광역시 인구수 편차 = 64163.28658196991
==> 인천광역시 인구수의 평균과 편차 <==
인천광역시 인구수 평균 = 276657.5
인천광역시 인구수 편차 = 199353.5964908417
==> 전라남도 인구수의 평균과 편차 <==
전라남도 인구수 평균 = 77298.31818181818
전라남도 인구수 편차 = 74413.25322969875
==> 전라북도 인구수의 평균과 편차 <==
전라북도 인구수 평균 = 124217.71428571429
전라북도 인구수 편차 = 168327.13482128442
==> 제주특별자치도 인구수의 평균과 편차 <==
제주특별자치도 인구수 평균 = 287936.5
제주특별자치도 인구수 편차 = 201620.89205362622
==> 충청남도 인구수의 평균과 편차 <==
충청남도 인구수 평균 = 129741.93333333333
충청남도 인구수 편차 = 141125.1080796583
==> 충청북도 인구수의 평균과 편차 <==
충청북도 인구수 평균 = 134974.54545454544
충청북도 인구수 편차 = 223460.35665744546

In [ ]:
#loc[] 사용
#인덱스가 20부터 25까지
data.loc[20:25]

    Unnamed: 0     인구수 shortName  x  y       면적 광역시도 행정구역
20          20   63227        과천  7  7   35.813  경기도  과천시
21          21  327111        광명  3  3   38.500  경기도  광명시
22          22  290210        광주  8  7  431.840  경기도  광주시
23          23  175676        구리  9  4   33.300  경기도  구리시
24          24  273302        군포  5  8   36.350  경기도  군포시
25          25  326523        김포  2  3  276.640  경기도  김포시

In [ ]:
#iloc[] 사용
#인덱스가 20부터 24까지
data.iloc[20:25]

    Unnamed: 0     인구수 shortName  x  y       면적 광역시도 행정구역
20          20   63227        과천  7  7   35.813  경기도  과천시
21          21  327111        광명  3  3   38.500  경기도  광명시
22          22  290210        광주  8  7  431.840  경기도  광주시
23          23  175676        구리  9  4   33.300  경기도  구리시
24          24  273302        군포  5  8   36.350  경기도  군포시

In [97]:
# 데이터에서 컬럼 알아보기
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [ ]:
#iloc[row index, column index] 사용 
#인덱스가 20 부터 25까지, 컬럼이 인구수부터 행정구역 까지
data.iloc[20:25, 1:8]

       인구수 shortName  x  y       면적 광역시도 행정구역
20   63227        과천  7  7   35.813  경기도  과천시
21  327111        광명  3  3   38.500  경기도  광명시
22  290210        광주  8  7  431.840  경기도  광주시
23  175676        구리  9  4   33.300  경기도  구리시
24  273302        군포  5  8   36.350  경기도  군포시

In [99]:
#loc[] 사용
#index가 40,55,60 이고, column이 인구수,광역시도,행정구역
data.loc[[40,55,60],['인구수','광역시도','행정구역']]

       인구수  광역시도 행정구역
40  915005   경기도  용인시
55  106388  경상남도  사천시
60   56734  경상남도  창녕군

In [101]:
#인덱스가 0인 행 하나만 선택
print(type(data.loc[0]))
data.loc[0]

<class 'pandas.core.series.Series'>

Unnamed: 0          0
인구수            202520
shortName          강릉
x                  11
y                   4
면적            1040.07
광역시도              강원도
행정구역              강릉시
Name: 0, dtype: object

In [102]:
#열 하나만 선택
print(type(data['행정구역']))
data['행정구역'].head()

<class 'pandas.core.series.Series'>

0    강릉시
1    고성군
2    동해시
3    삼척시
4    속초시
Name: 행정구역, dtype: object

### 컬럼명 변경하기, 컬럼을 인덱스 전환하기
* rename() 함수
* inPlace=False (default) 원본 DataFrame객체를 변경하지 않고, 변경한 결과만 출력한다.
* inPlace=True 원본 DataFrame객체를 변경하고, 변경한 결과는 출력하지 않는다.

In [103]:
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [108]:
# 'Unnamed: 0' 컬럼명을 'seq' 로 변경
# 원본 객체는 변경되지 않고 변경된 결과만 출력함
# inplace=True를 하면 원본 객체가 변경됨
data.rename(columns={'Unnamed: 0':'seq'}, inplace=False)

     seq     인구수 shortName   x   y       면적  광역시도 행정구역
0      0  202520        강릉  11   4  1040.07   강원도  강릉시
1      1   25589    고성(강원)   9   0   664.19   강원도  고성군
2      2   86747        동해  11   5   180.01   강원도  동해시
3      3   63986        삼척  11   8  1185.80   강원도  삼척시
4      4   76733        속초   9   1   105.25   강원도  속초시
..   ...     ...       ...  ..  ..      ...   ...  ...
224  224  127462        제천   8  10   882.47  충청북도  제천시
225  225   34480        증평   6  11    81.84  충청북도  증평군
226  226   62809        진천   5  11   406.08  충청북도  진천군
227  227  790216        청주   6  12   932.51  충청북도  청주시
228  228  198077        충주   6  10   983.70  충청북도  충주시

[229 rows x 8 columns]

In [105]:
#원본 객체가 변경되고 변경된 결과는 출력하지 않는다.
data.columns

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')

In [109]:
# seq 컬럼을 인덱스로 변경한다 set_index() 함수 사용
# inplace 속성이 동일하게 적용됨
data.set_index('seq', inplace=True)

In [110]:
data.head()

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군
2     86747        동해  11  5   180.01  강원도  동해시
3     63986        삼척  11  8  1185.80  강원도  삼척시
4     76733        속초   9  1   105.25  강원도  속초시

### DataFrame을 Excel file로 저장하기
* 인구수가 평균보다 작은 행정구역, 광역시도, 인구수를 선택해서 DataFrame생성하기
* DataFrame의 to_excel() 함수 사용

In [111]:
# 인구수의 평균값 구하기
pop_mean_value=data['인구수'].mean()
print(pop_mean_value)
print(round(pop_mean_value))
print(f'{pop_mean_value:.2f}')

211089.77729257641
211090
211089.78

In [115]:
# 인구수의 평균값보다 작은 Row를 선택하고, '광역시도','행정구역','인구수' 컬럼값을 가져오기
# 정렬할때 광역시도는 ascending으로 , 인구수는 descending
pop_mean_lt_df = data.loc[data['인구수'] < pop_mean_value, ['광역시도','행정구역','인구수']].sort_values(by=['광역시도','인구수'], ascending=[True, False]).reset_index(drop=True)
print(pop_mean_lt_df.shape)

(141, 3)

In [116]:
# DataFrame의 to_excel() 함수를 사용하여 excel 파일로 저장
pop_mean_lt_df.to_excel('data/평균인구수미만행정구역.xlsx')

### GroupBy 기능 사용하기
* 광역시도별 행정구역의 인구수 합계
* ~별에 해당하는 컬럼명이나 컬럼값을 groupby() 함수의 인자로 전달한다.
* Series 객체의 groupby(data['광역시도']) 함수는 컬럼의 값을 인자로 전달하고
* DataFrame 객체의 groupby('광역시도') 함수는 컬럼명을 인자로 전달합니다.

In [ ]:
# Series 객체 사용 - 광역시도별 인구수의 합계 
# SeriesGroupBy object

In [ ]:
# DataFrame 객체 사용 - 광역시도별 인구수의 합계 
# DataFrameGroupBy object

In [ ]:
# DataFrameGroupBy

In [ ]:
# 광역시도별 행정구역별 인구수의 합계

In [ ]:
# data/광역시도별행정구역별인구수의합계.xlsx 파일로 저장하기

### 엑셀 수치 데이터에 콤마찍기
[pandas.ExcelWriter](https://pandas.pydata.org/docs/reference/api/pandas.ExcelWriter.html)

In [ ]:
#%pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.2.2-py3-none-any.whl.metadata (2.8 kB)
Downloading XlsxWriter-3.2.2-py3-none-any.whl (165 kB)
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.2.2

In [ ]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
#writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
#group_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
# workbook  = writer.book
# worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
# num_format = workbook.add_format({'num_format': '#,###'})
# worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
# writer.close() #_save()

#### 상관계수 (Correlation Coefficient)
* 인구수와 면적 데이터간에 관련성이 있는지 살펴보기 위해서 상관계수 구하기
* 상관계수 값은 -1 ~ 1 사이의 값이며, 0에 가까울 수록 관련성이 낮고, 1에 가까울 수록 관련성이 높다. 
* 음수는 반비례 (면적이 넓은 반면 인구수는 적은 경우), 양수는 비례 (면적이 넓고, 인구수도 높은 경우)
* corr() 함수

In [ ]:
#전국의 면적과 인구수의 상관계수 구하기

In [ ]:
#서울의 면적과 인구수의 상관계수 구하기

In [ ]:
#경기도의 면적과 인구수의 상관계수 구하기

#### Groupby 한 DataFrame에 집계함수를 여러개 설정하기
* agg() 함수
* agg(['max','mean','std'])

In [ ]:
# agg() 함수 사용하여 여러개의 통계함수를 사용합니다. 
# fillna(0) NaN 을 0 으로 변경해 줌

In [ ]:
# agg() 함수 사용 - 그룹핑한 데이터를 여러개의 집계함수를 사용해서 새로운 DataFrame 객체 생성하기

In [ ]:
# DataFrame의 style.format() 함수 사용하기

In [ ]:
# 컬럼의 값을 변경하기 map() 함수를 사용하여 포맷하기

#### 시각화
* %matplotlib inline 설정 (jupyter 에서는 show() 함수를 호출하지 않아도 plot이 출력된다)
* 한글폰트 설정이 필요함
* Plot에 대한 설정은 matplotlib의 함수를 사용하고, Plot을 그려주는 기능은 seaborn()의 함수를 사용합니다.

In [138]:
%matplotlib inline

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

print('matplotlib ', matplotlib.__version__)
print('seaborn ', sns.__version__)

In [ ]:
# for font in fm.fontManager.ttflist:
#     print((font.name, font.fname))
# 폰트이름과 폰트파일 정보 출력 list comprehension

In [ ]:
# font name을 알고 있다면 생략가능
#한글폰트 path 설정

#font의 파일정보로 font name 을 알아내기

In [ ]:
# matplotlib의 rc(run command) 함수를 사용해서 font name(Malgun Gothic) 설정

### Figure, Axes, Plot
* Axes는 Plot이 실제 그려지는 공간
* Figure는 Axes 보다 더 상위의 공간 : Figure을 여러개의 Axes로 분할해서 Plot를 그릴 수 있다
* 비교) Axis는 X 축, Y축
* seaborn의 barplot() 함수(막대그래프) 사용

In [ ]:
# subplots() 함수를 사용하여 axes 객체를 생성하기

# seaborn의 barplot() 함수 호출하기 - 행정구역과 인구수

# seaborn의 barplot() 함수 호출하기 - 행정구역과 면적

# plt.show()

In [ ]:
# 광역시도 이름을 인자로 받아서 인구수와 면적을 그려주는 함수
def show_pop_area(sido_name):
    pass

In [ ]:
show_pop_area('경기도')

In [ ]:
# 전국데이터의 광역시도의 인구수

In [ ]:
# figure, ax1 = plt.subplots(nrows=1, ncols=1)
# figure.set_size_inches(18,12)
# sns.barplot(data=seoul_df, x="행정구역", y="인구수", ax=ax1,hue='행정구역')

#y축의 label값에 ,(콤마) 출력하기
# ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))


# for item in ax1.get_xticklabels(): 
#     item.set_rotation(90)
# for i, v in enumerate(seoul_df["인구수"].items()):
#     ax1.text(i ,v[1], "{:,}".format(v[1]), color='m', va ='bottom', rotation=45)
# plt.tight_layout()